<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Descargas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
<input type="checkbox" id="cerrar">
<label for="cerrar" id="btn-cerrar"><a href="Vulnerabilidad.html"><b>X</b></label></a>
<div class="modal">
    <div class="contenido">
    <br>
      <h1>Descarga de índicadores</h1>
    <br>
      <p>
        Se muestran los indicadores que se utilizaron para obtener los indices de vulnerabilidad, seleccione el que desee descargar.
      </p>
    <br><br>
     <ol>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/1_Densidad%20de%20Poblacion.rar?raw=true"><li>Densidad de población</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/2_Poblacionpropensa.rar?raw=true"><li>Poblacion propensa a inundaciones</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/3_Riqueza%20cultural.rar?raw=true"><li>Riqueza cultural</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/4_Crecimiento%20Poblacional.rar?raw=true"><li>Crecimiento poblacional</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/5_Personas%20con%20discapacidad.rar?raw=true"><li>Personas con discapacidad</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/6-18_Indice%20desarrollo%20humano.rar?raw=true"><li>índice de desarrollo humano</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/10_Acceso%20a%20informacion.rar?raw=true"><li>Acceso a la información</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/11_Hospitales.rar?raw=true"><li>Hospitales</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/14_Vias%20de%20evacuacion.rar?raw=true"><li>Vías de evacuación</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/15_Industrias.rar?raw=true"><li>Industrias</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/16_Proximidad%20de%20rio.rar?raw=true"><li>Proximidad de ríos</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/17_Desempleo.rar?raw=true"><li>Desempleo</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/24_Precipitacion%20media%20anual.rar?raw=true"><li>Precipitación media anual</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/25_Areas%20verdes.rar?raw=true"><li>Áreas verdes</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/28_Topografia.rar?raw=true"><li>Topografía</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/32_Sistema%20de%20drenaje.rar?raw=true"><li>Sistemas de drenaje</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/Presas.rar?raw=true"><li>Almacenamiento de presas</li></a>
     </ol>
    <div class="subcontenido">
     <h2>Descarga por manzanas/colonias</h2>
     <ol>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/Acceso%20a%20servicios.rar?raw=true"><li>Acceso a servicios</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/AntropogenicoMorelia.rar?raw=true"><li>Antropogénico</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/CimaticoMorelia.rar?raw=true"><li>Climático</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/Econ%C3%B3micoMorelia.rar?raw=true"><li>Económico</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/FisiograficoMorelia.rar?raw=true"><li>Fisiográfico</li></a>
     <a href="https://github.com/Denisembu/FloodR/blob/main/Download/Uso%20suelo%20Morelia.rar?raw=true"><li>Uso de suelo</li></a>
     </ol>
    </div>
     <div style="text-align:right;">
        <button style="position:absolute;top:73%;left:700px;background-color: transparent;border-style: none"><a href="https://github.com/Denisembu/FloodR/raw/main/Download/DESCRIPCI%C3%93N%20DE%20LA%20INFORMACION%20MOSTRADA.pdf"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/info.png" width="180px" height="80px"></button></a>
        </div>
    <div style="text-align:right;">
    <button style="position:absolute;top: 73%;left:880px;background-color: transparent;border-style: none"><a href="https://github.com/Denisembu/FloodR/raw/main/ECUACIONES.pdf"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/ecu.png" width="180px" height="80px"></button></a>
    </div>
    <div style="text-align:right;">
        <button style="position:absolute;top: 63%;left:800px;background-color: transparent;border-style: none"><a href="https://github.com/Denisembu/FloodR/blob/main/Download/IVI%20Morelia.rar?raw=true"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/die.png" width="180px" height="80px"></button></a>
        </div>

    </div>
</div>
<iframe src="https://janikua.github.io/FloodR/#12/19.6966/-101.2466" width="1500" height="720" frameborder="0" style="border:0" z-index="0"></iframe>

<div class="btn1">
    <div style="text-align: left;">
    <button style="position:absolute;top: 0%;left:30px; background-color: transparent;border-style: none">
    <img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/LOGO.png" width="400px" height="125px"></button>
   </div></div>
   
   <div class="btn2">
    <div style="text-align: left;">
    <button style="position: absolute;top: 30%;background-color: transparent;border-style: none">
    <a href="Temperatura.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Temp.png" width="250px" height="70px"></a></button>
   </div></div>
   
   <div class="btn3">
    <div style="text-align: left;">
    <button style="position: absolute;top: 45%;background-color: transparent;border-style: none">
    <a href="Precipitacion.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Pp.png" width="250px" height="70px"></a></button>
   </div></div>
   
   <div class="btn4">
    <div style="text-align: left;">
    <button style="position: absolute;top: 60%;background-color: transparent;border-style: none">
    <a href="Vulnerabilidad.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Vuln.png" width="250px" height="70px"></a></button>
   </div></div>
   
   <div class="btn5">
    <div style="text-align: left;">
    <button style="position: absolute;top: 85%;background-color: transparent;border-style: none"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/App.png" width="120px" height="70px"></div></button>
   </div></div>
   
   <div class="btn6">
    <div style="text-align: left;">
    <button style="position: absolute;top: 85%;left:150px;background-color: transparent;border-style: none"> <a href="RS.html">
    <img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Share.png" width="160px" height="80px"></button></a>
   </div></div>

   <div class="btn8">
   <div style="text-align: left;">
    <button style="position: absolute;top: 85%;left:330px;background-color: transparent;border-style: none">
    <a href="DescargaV.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Download.png " width="180px" height="75px"></a></button>
   </div></div>
</div>
</body>
</html> 
