<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Descargas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main copy.css') }}">
</head>

<body>
<input type="checkbox" id="cerrar">
<label for="cerrar" id="btn-cerrar"><a href="Precipitacion.html">x</label></a>
<div class="modal">
<div class="contenido">
 <h1>Precipitación en tiempo real</h1><br>
 <p>Se muestran las 3 estaciones en constante funcionamiento, selecciona la de interés para visualizar la información.</p>
 <br><br>
 
  <div style="text-align:right;">
    <button style="position:absolute;top:58%;left:580px;background-color: transparent;border-style: none"><a href="Est2pre.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/E2L.png" width="185px" height="85px"></button></a>
  </div>

   <div style="text-align:right;">
    <button style="position:absolute;top: 45%;left:780px;background-color: transparent;border-style: none"><a href="Est3pre.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/E3P.png" width="185px" height="85px"></button></a>
   </div>

    <div style="text-align:right;">
     <button style="position:absolute;top: 45%;left:580px;background-color: transparent;border-style: none"><a href="Est1pre.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/E1C.png" width="185px" height="85px"></button></a>
    </div>

    <div style="text-align:right;">
      <button style="position:absolute;top: 58%;left:780px;background-color: transparent;border-style: none"><a href="https://github.com/Denisembu/FloodR/blob/main/Download/precipitacion.rar?raw=true"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Download.png" width="160px" height="85px"></button></a>
     </div>
</div>
</div>

<style>.embed-container {position: relative; padding-bottom: 50%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="200" height="100" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Precipitacion Morelia" src="//learngis2.maps.arcgis.com/apps/Embed/index.html?webmap=e7a9aabee3d647ada76fda293acff619&extent=-101.2892,19.6482,-101.087,19.7384&home=true&zoom=true&previewImage=false&scale=true&search=true&searchextent=true&disable_scroll=false&theme=light"></iframe></div>

<div class="btn7">
<div style="text-align: left;">
    <button style="position: absolute;top: 20%; left:90%;background-color: transparent;border-style: none"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/SimPp.png" width="125px" height="550px"></div></button>
</div>

<div class="btn1">
 <div style="text-align: left;">
 <button style="position:absolute;top: 0%;left:30px; background-color: transparent;border-style: none">
 <img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/LOGO.png" width="400px" height="125px"></button>
</div></div>

<div class="btn2">
 <div style="text-align: left;">
 <button style="position: absolute;top: 30%;background-color: transparent;border-style: none">
 <a href="Temperatura.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Temp.png" width="250px" height="70px"></a></button>
</div></div>

<div class="btn3">
 <div style="text-align: left;">
 <button style="position: absolute;top: 45%;background-color: transparent;border-style: none">
 <a href="Precipitacion.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Pp.png" width="250px" height="70px"></a></button>
</div></div>

<div class="btn4">
 <div style="text-align: left;">
 <button style="position: absolute;top: 60%;background-color: transparent;border-style: none">
 <a href="Vulnerabilidad.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Vuln.png" width="250px" height="70px"></a></button>
</div></div>

<div class="btn5">
 <div style="text-align: left;">
 <button style="position: absolute;bottom:5%;background-color: transparent;border-style: none"><a href="https://raw.githubusercontent.com/Denisembu/FloodR/main/QRAPP.png"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/App.png" width="120vw" height="70vw"></a></div></button>
</div></div>

<div class="btn6">
 <div style="text-align: left;">
 <button style="position: absolute;top: 85%;left:150px;background-color: transparent;border-style: none"> <a href="RS.html">
 <img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Share.png" width="160px" height="80px"></button></a>
</div></div>

<div style="text-align: left;">
 <button style="position: absolute;top: 85%;left:330px;background-color: transparent;border-style: none">
 <a href="EstacionesP.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/est.png " width="180px" height="75px"></a></button>
</div>
</div>
</body>
</html> 