<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Redes Sociales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main2.css') }}">
</head>

<body>
    <input type="checkbox" id="cerrar">
    <label for="cerrar" id="btn-cerrar">x</label>
    <div class="modal">
        <div class="contenido">
        <br>
          <h1>¡Síguenos en nuestras redes sociales!</h1>
        <br>
        <p>Mantente informado y activa las notificaciones.</p>
        <br><br><br><br><br><br><br>
        <h2>¡Contáctanos!</h2>

        <div style="text-align:right;">
         <button style="position:absolute;top: 48%;left:38%;background-color: transparent;border-style: none"><a href="https://www.facebook.com/Sistema-de-Alerta-Temprana-ante-Inundaciones-Morelia-101827935539074/"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/facebook.png" width="90px" height="90px"></button></a>
        </div>

        <div style="text-align:right;">
            <button style="position:absolute;top: 48%;left:47%;background-color: transparent;border-style: none"><a href="https://twitter.com/JanikuaSATIM"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Twitter.png" width="90px" height="90px"></button></a>
        </div>

        <div style="text-align:right;">
            <button style="position:absolute;top: 48%;left:56%;background-color: transparent;border-style: none"><a href="MAILTO:janikua.SATIM@gmail.com"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/gmail.png" width="90px" height="90px"></button></a>
          </div>
       
    </div></div>

  <iframe src="https://janikua.github.io/FloodR/#12/19.6966/-101.2466" width="1500" height="720" frameborder="0" style="border:0" z-index="0"></iframe>

<div class="btn1">
    <div style="text-align: left;">
    <button style="position:absolute;top: 0%;left:30px; background-color: transparent;border-style: none">
    <img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/LOGO.png" width="400px" height="125px"></button>
</div></div>
   
<div class="btn2">
    <div style="text-align: left;">
    <button style="position: absolute;top: 30%;background-color: transparent;border-style: none">
    <a href="Temperatura.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Temp.png" width="250px" height="70px"></a></button>
</div></div>
   
<div class="btn3">
    <div style="text-align: left;">
    <button style="position: absolute;top: 45%;background-color: transparent;border-style: none">
    <a href="Precipitacion.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Pp.png" width="250px" height="70px"></a></button>
</div></div>
   
<div class="btn4">
    <div style="text-align: left;">
    <button style="position: absolute;top: 60%;background-color: transparent;border-style: none">
    <a href="Vulnerabilidad.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Vuln.png" width="250px" height="70px"></a></button>
</div></div>
   
<div class="btn5">
    <div style="text-align: left;">
    <button style="position: absolute;top: 85%;background-color: transparent;border-style: none"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/App.png" width="120px" height="70px"></div></button>
</div></div>
   
<div class="btn6">
    <div style="text-align: left;">
    <button style="position: absolute;top: 85%;left:150px;background-color: transparent;border-style: none"> <a href="RS.html">
    <img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Share.png" width="160px" height="80px"></button></a>
</div></div>
   
</div>
</body>
</html> 