<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.8">
    <title>Temperatura</title> 
</head>

<body>

    <style>.embed-container {position: relative; padding-bottom: 50%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="200" height="100" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Temperatura Morelia" src="//learngis2.maps.arcgis.com/apps/Embed/index.html?webmap=c033ecb051b14b1ca7f2fe328e5a3349&extent=-101.2909,19.6486,-101.0887,19.7388&home=true&zoom=true&previewImage=false&scale=true&search=true&searchextent=true&disable_scroll=false&theme=light"></iframe></div>
    
<div style="text-align: left;">
    <button style="position: absolute;top: 20%; left:90%;background-color: transparent;border-style: none"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/SimbT.png" width="125px" height="550px"></div></button>
</div>

<div style="text-align: left;">
    <button style="position:absolute;top: 0%;left:30px; background-color: transparent;border-style: none"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/LOGO.png" width="400px" height="125px"></button>
</div>

<div style="text-align: left;">
    <button style="position: absolute;top: 30%;background-color: transparent;border-style: none"><a href="Temperatura.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Temp.png" width="250px" height="70px"></div></a></button>
</div>

<div style="text-align: left;">
    <button style="position: absolute;top: 45%;background-color: transparent;border-style: none"><a href="Precipitacion.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Pp.png" width="250px" height="70px"></a></button>
</div>

<div style="text-align: left;">
 <button style="position: absolute;top: 60%;background-color: transparent;border-style: none">
 <a href="Vulnerabilidad.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Vuln.png" width="250px" height="70px"></a></button>
</div>  

<div style="text-align: left;">
    <button style="position: absolute;bottom:5%;background-color: transparent;border-style: none"><a href="https://raw.githubusercontent.com/Denisembu/FloodR/main/QRAPP.png"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/App.png" width="120vw" height="70vw"></a></div></button>
</div>

<div style="text-align: left;">
        <button style="position: absolute;top: 85%;left:150px;background-color: transparent;border-style: none"> <a href="RS.html">
        <img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Share.png" width="160px" height="80px"></button></a>
</div>

<div style="text-align: left;">
 <button style="position: absolute;top: 85%;left:330px;background-color: transparent;border-style: none">
 <a href="EstacionesT.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/DEst.png" width="180px" height="75px"></a></button>
</div>



</body>
</html>