<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Vulnerabilidad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainTem.css') }}">
</head>

<body>
    <iframe src="https://janikua.github.io/FloodR/#12/19.6966/-101.2466" width="1500" height="720" frameborder="0" style="border:0" z-index="0"></iframe>

    <div style="text-align: left;">
        <button style="position: absolute;bottom: 5%; left:90%;background-color: transparent;border-style: none"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/simbV.png" width="150vw" height="250vw"></div></button>
    </div>

    <div class="btn1">
    <div style="text-align: left;">
        <button style="position:absolute;top: 0%;left:5%; background-color: transparent;border-style: none"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/LOGO.png"width="350vw" height="100vh"></button>
    </div></div>
    
    <div style="text-align: left;">
        <button style="position: absolute;top: 30%;background-color: transparent;border-style: none"><a href="Temperatura.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Temp.png" width="250vw" height="70vh"></div></a></button>
    </div>
    
    <div style="text-align: left;">
        <button style="position: absolute;top: 45%;background-color: transparent;border-style: none"><a href="Precipitacion.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Pp.png" width="250vw" height="70vh"></a></button>
    </div>
    
    <div style="text-align: left;">
     <button style="position: absolute;top: 60%;background-color: transparent;border-style: none">
     <a href="Vulnerabilidad.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Vuln.png" width="250vw" height="70vh"></a></button>
    </div>  
</div> 

<div class="subcontenido">
    <div style="text-align: left;">
     <button style="position: absolute;bottom:5%;background-color: transparent;border-style: none"><a href="https://raw.githubusercontent.com/Denisembu/FloodR/main/QRAPP.png"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/App.png" width="120vw" height="70vw"></a></div></button>
    </div>
    
    <div style="text-align: left;">
            <button style="position: absolute;bottom:5%; left:15vw;background-color: transparent;border-style: none"> <a href="RS.html">
            <img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Share.png" width="160vw" height="80vh"></button></a>
    </div>
    
    <div style="text-align: left;">
        <button style="position: absolute;bottom: 5%;left:35vw;background-color: transparent;border-style: none">
        <a href="DescargaV.html"><img src="https://raw.githubusercontent.com/Denisembu/FloodR/main/Download.png" width="160vw" height="75vh"></a></button>
    </div>
</div>


</body>
</html>